<ion-header>
  <ion-toolbar>
    <ion-title>Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div #map id="map"></div>

  <ion-fab vertical="bottom" button-align="left" slot="fixed">
    <ion-button (click)="letMeHome()">Back</ion-button>
  </ion-fab>

</ion-content>
