<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
  <ion-card-header>
    <ion-img class="profile-photo" width="375" height="375" src="https://www.nicepng.com/png/detail/131-1318812_avatar-group-icon.png"></ion-img>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title style="font-weight: 300;font-size: 2em; text-align: center;">Sales AnaList</ion-card-title>
  </ion-card-header>
</ion-card>
  <ion-button routerLink="/register" expand="block">
    Register
  </ion-button>
  <ion-button routerLink="/login" expand="block">
    Login
  </ion-button>
</ion-content>